{% extends "base.html" %}
{% set title = "Settings" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1>Settings</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>CMS Settings</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {{ csrf_field() }}
                        {% for setting in settings %}
                        <div class="mb-3">
                            <label for="setting_{{ setting.key }}" class="form-label">{{ setting.description or setting.key }}</label>
                            {% if setting.key == 'admin_theme' %}
                            <select class="form-select" id="setting_{{ setting.key }}" name="setting_{{ setting.key }}">
                                <option value="light" {{ 'selected' if setting.value == 'light' else '' }}>Light</option>
                                <option value="dark" {{ 'selected' if setting.value == 'dark' else '' }}>Dark</option>
                            </select>
                            {% elif setting.key == 'hide_system_blocks' %}
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="setting_{{ setting.key }}" name="setting_{{ setting.key }}" value="1" {{ 'checked' if setting.value == '1' else '' }}>
                                <label class="form-check-label" for="setting_{{ setting.key }}">
                                    Hide system template blocks by default in page editor
                                </label>
                            </div>
                            {% elif setting.key in ['ai_provider', 'ai_api_url'] %}
                            <input type="text" class="form-control" id="setting_{{ setting.key }}" name="setting_{{ setting.key }}" value="{{ setting.value }}">
                            {% elif setting.key == 'ai_api_key' %}
                            <input type="password" class="form-control" id="setting_{{ setting.key }}" name="setting_{{ setting.key }}" value="{{ setting.value }}" placeholder="Enter API key">
                            {% elif setting.key == 'ai_monthly_budget' %}
                            <input type="number" step="0.01" min="0" class="form-control" id="setting_{{ setting.key }}" name="setting_{{ setting.key }}" value="{{ setting.value or '0' }}">
                            {% elif setting.key == 'blog_latest_template' %}
                            <textarea class="form-control" id="setting_{{ setting.key }}" name="setting_{{ setting.key }}" rows="8" placeholder="Template for {{ '{{' }}blog:latest{{ '}}' }} shortcode">{{ setting.value }}</textarea>
                            <div class="form-text">
                                <strong>Available parameters:</strong><br>
                                <code>{title}</code> or <code>{{ '{{' }}title{{ '}}' }}</code> - Post title<br>
                                <code>{slug}</code> or <code>{{ '{{' }}slug{{ '}}' }}</code> - Post slug<br>
                                <code>{href}</code> or <code>{{ '{{' }}href{{ '}}' }}</code> - Full URL to post<br>
                                <code>{excerpt}</code> or <code>{{ '{{' }}excerpt{{ '}}' }}</code> - Post excerpt<br>
                                <code>{author}</code> or <code>{{ '{{' }}author{{ '}}' }}</code> - Post author<br>
                                <code>{published_date}</code> or <code>{{ '{{' }}published_date{{ '}}' }}</code> - Publication date<br>
                                <code>{featured_image}</code> or <code>{{ '{{' }}featured_image{{ '}}' }}</code> - Featured image HTML<br>
                                <code>{metadata}</code> or <code>{{ '{{' }}metadata{{ '}}' }}</code> - Author and date metadata HTML<br>
                                <code>{base_url}</code> or <code>{{ '{{' }}base_url{{ '}}' }}</code> - Site base URL<br>
                                <br>
                                <strong>Template structure:</strong> Template should contain only <code>&lt;li&gt;</code> elements. The <code>&lt;ul class="blog-latest"&gt;</code> wrapper is added automatically around multiple items.<br>
                                <strong>Note:</strong> Both single <code>{param}</code> and double <code>{{ '{{' }}param{{ '}}' }}</code> brace syntax are supported.
                            </div>
                            {% elif setting.key == 'blog_articles_per_page' %}
                            <input type="number" class="form-control" id="setting_{{ setting.key }}" name="setting_{{ setting.key }}" value="{{ setting.value }}" min="1" max="100">
                            <div class="form-text">Number of blog articles to display per page in {{ '{{' }}blog:latest{{ '}}' }} shortcode. Pagination will be automatically added when needed.</div>
                            {% else %}
                            <input type="text" class="form-control" id="setting_{{ setting.key }}" name="setting_{{ setting.key }}" value="{{ setting.value }}">
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Save Settings</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
